@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body {
    margin: 0rem;
    padding: 0rem;
    min-height: 97vh;
    background-color: hsl(212, 45%, 89%);
    font-family: Arial, sans-serif;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.principal {
    background-color: hsl(0, 0%, 100%);
    max-width: 90vw;
    margin: 3.75em 1.25em;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.principal img {
    margin: 1em;
    max-width: 89%;
    border-radius: 20px;      
}

.principal h1 {
    width: 80%;
    text-align: center;
    font-family: 'Outfit', sans-serif;
    font-size: 1.4rem;
}

.principal p {
    width: 80%;
    text-align: center;
    font-family: 'Outfit', sans-serif;
    font-size: 1rem;
    color: hsl(220, 15%, 55%);
}

.attribution { 
    font-size: 0.70rem; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media screen and (min-width: 376px) {
   .principal {
        width: 337.5px;
    }
}